body {
  height: 100vh;
  text-align: center;
  background-color: #011F3F;
  background-image: linear-gradient(160deg, #030824 0%, #4f707f 100%);
  background-repeat: no-repeat;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 3.5rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 7px;
  margin-top: 5px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 7px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  /* background-color: red; */
  background-image: linear-gradient(160deg, #920606 0%, #fa3232 100%);
  
}

.green {
  /* background-color: green; */
  background-image: linear-gradient(160deg, #0d5710 0%, #5af46c 100%);
}

.blue {
  /* background-color: blue; */
  background-image: linear-gradient(160deg, #0824b0 0%, #38a6d9 100%);
 
}

.yellow {
  /* background-color: yellow; */
  background-image: linear-gradient(160deg, #8e740c 0%, #ebff32 100%);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
